@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&family=Poiret+One&display=swap');
html{
	margin: 0px;
	padding: 0px;
}
body{
	margin: 0px;
	padding: 0px;
}
/*
Fuentes

font-family: 'Lemonada', cursive;
font-family: 'Poiret One', cursive;
*/

/*Reutilizable*/
.container{
	width: 1200px;
	margin: auto;
}
.clearfix{
	clear: both;
}
.media_caja_izquierda{
	width: 650px;
	float: left;
	margin-top: 20px;
}
#menu_idiomas{
	width: 150px;
	text-align: center;
	display: inline-block;
	padding: 0px 0px;
	margin: 15px 0px;
}
#menu_idiomas div{
	margin: 20px 0px;
}
#menu_idiomas a{
	text-decoration: none;
	padding: 5px;
	color: lightblue;
	background-color: black;
	border-radius:40px; 
	margin: 2px 2px;

	box-sizing: border-box;
}
.media_caja_derecha{
	width: 650px;
	float: right;
	margin-left: 20px;
}
/*Página*/
/*Cabecera*/
#a{
	border-bottom: 1px solid black;
	padding: 0px;
}
.img_logo{
	float: left;
}
.img_logo img{
	width: 150px;
	margin: 20px;
}
#languages{
	margin: 10px 3px;
	float: left;
}
#menu_m{
	float: right;
	margin: 40px 20px;
}
#menu_m a{
	padding: 20px;
	text-decoration: none;
	color: black;

	box-sizing: border-box;
}
#menu_m a:hover{
	font-weight: bold;
}
.language ul {
		display: flex;
		padding: 0px;
		margin: 0px;
		list-style: none;

		position: absolute;
	}
	.language a {
		display: block;
		padding: 2em;
		background-color: white;
		text-decoration: none;
		color: black;

	}
	.language a:hover {
		background-color: lightgrey;
	}
	.language ul li ul {
		display: none;
	}
	.language ul li a:hover + ul, .language ul li ul:hover {
		display: block;
	}
/*Fin cabecera*/
/*Cuerpo de la página*/
.link{
	color: black;
}
.caja_precios{
	width: 350px;
	margin: 50px;
	border:1px solid black;
	display: inline-block;
	padding: 40px;
	text-align: justify;

	transition: transform 1s;
	transition: background-color 0.5s;

	box-sizing: border-box;
}
.caja_precios:hover{
	transform: scale(1.2);
	background-color: #e6e6e6;
}
.yes{
	list-style-image: url(yes.png);
}
.no{
	list-style-image: url(no.png);
}
/*Fin de la página*/
/*Pie de página*/
footer{
	background-color: black;
	height: 160px;
}
.caja_footer{
	width: 400px;
	font-family: 'Lemonada', cursive;
	font-size: 0.70em;
	color: white;
	text-align: center;
	float: left;
}
#social_footer{
	font-size: 2em;
	margin: 40px;
}
#social_footer a{
	color:white;	
}
#social_footer a:hover{
	color:cyan;	
}
#social_footer span{
	padding: 20px;	
}
#contact_footer{
	font-size: 0.5em;
	text-align: right;
}
#copyright h1{
	padding-top: 50px;
}
#copyright span:hover{
	color:cyan;
}